WGSTask2-Client/WGSTask2-Client/Service References/ContactService/ContactService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52149/ContactService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52149/ContactService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52149/ContactService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContactClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactService_InsertContact_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertContact" />
  </wsdl:message>
  <wsdl:message name="IContactService_InsertContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetAllContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContact" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetAllContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteContact_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContact" />
  </wsdl:message>
  <wsdl:message name="IContactService_DeleteContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_UpdateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="IContactService_UpdateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactService">
    <wsdl:operation name="InsertContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/InsertContact" message="tns:IContactService_InsertContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/InsertContactResponse" message="tns:IContactService_InsertContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetAllContact" message="tns:IContactService_GetAllContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetAllContactResponse" message="tns:IContactService_GetAllContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DeleteContact" message="tns:IContactService_DeleteContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DeleteContactResponse" message="tns:IContactService_DeleteContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/UpdateContact" message="tns:IContactService_UpdateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/UpdateContactResponse" message="tns:IContactService_UpdateContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContactService" type="tns:IContactService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertContact">
      <soap:operation soapAction="http://tempuri.org/IContactService/InsertContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContact">
      <soap:operation soapAction="http://tempuri.org/IContactService/GetAllContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap:operation soapAction="http://tempuri.org/IContactService/DeleteContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://tempuri.org/IContactService/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactService">
    <wsdl:port name="BasicHttpBinding_IContactService" binding="tns:BasicHttpBinding_IContactService">
      <soap:address location="http://localhost:52149/ContactService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>